<template>
  <div>
    <div v-for="book in books" :key="book.id" class="card mb-3">
      <div class="card-body">
        <h2 class="card-title">{{ book.title }}</h2>
        <p class="card-text">Author: {{ book.author }}</p>
        <p class="card-text">Publication Year: {{ book.publication_year }}</p>
        <p class="card-text">Genre: {{ book.genre }}</p>
        <button @click="editBook(book)" class="btn btn-primary">{{ 'Edit' }}</button>
        <button @click="deleteBook(book.id)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';

export default {
  name: 'BookList',
  props: ['books'],
  methods: {
    editBook(book) {
      this.$emit('select-book', book);
    },
    deleteBook(bookId) {
      axios.delete(`http://localhost:8081/api/books/${bookId}`)
          .then((response) => {
            this.$emit('message', response.data.message);
            this.fetchBooks()
          })
          .catch(error => {
            console.error(error)
          });
    },
    fetchBooks() {
      axios.get('http://localhost:8081/api/books')
          .then(response => {
            this.$parent.$data.books = response.data.data;
            this.$emit('message', 'Books updated');
          })
          .catch(error => {
            console.error(error)
          });
    }
  },
  created() {
    this.fetchBooks();
  }
}
</script>