<template>
  <form @submit.prevent="submitForm">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" id="title" v-model="formData.title" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author:</label>
      <input type="text" id="author" v-model="formData.author" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="publication_year" class="form-label">Publication Year:</label>
      <input type="number" id="publication_year" v-model="formData.publication_year" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="genre" class="form-label">Genre:</label>
      <input type="text" id="genre" v-model="formData.genre" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">{{ selectedBook ? 'Update Book' : 'Add Book' }}</button>
  </form>
</template>
<script>
import axios from 'axios';

export default {
  name: 'BookForm',
  props: ['selectedBook'],
  data() {
    return {
      formData: {
        title: this.selectedBook ? this.selectedBook.title : '',
        author: this.selectedBook ? this.selectedBook.author : '',
        publication_year: this.selectedBook ? this.selectedBook.publication_year : '',
        genre: this.selectedBook ? this.selectedBook.genre : ''
      }
    };
  },
  watch: {
    selectedBook: {
      handler(newBook) {
        if (newBook) {
          this.formData.title = newBook.title;
          this.formData.author = newBook.author;
          this.formData.publication_year = newBook.publication_year;
          this.formData.genre = newBook.genre;
        } else {
          this.formData = {
            title: '',
            author: '',
            publication_year: '',
            genre: ''
          };
        }
      },
      deep: true
    }
  },
  methods: {
    submitForm() {
      if (this.selectedBook) {
        axios.put(`http://localhost:8081/api/books/${this.selectedBook.id}`, this.formData)
            .then((response) => {
              this.$emit('message', response.data.message);
              this.$emit('refresh');
            })
            .catch(error => {
              console.error(error)
            });
      } else {
        axios.post('http://localhost:8081/api/books', this.formData)
            .then((response) => {
              this.$emit('message', response.data.message);
              this.$emit('refresh');
            })
            .catch(error => {
              console.error(error)
            });
      }
    }
  }
}
</script>