.notification {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
}

.main {
    width: 100%;
    justify-content: center
}