<template>
  <div class="d-flex flex-column popup gap-3">
    <Notification v-for="(notification, index) in notifications" :key="index" :message="notification.message"/>
  </div>
  <div id="app" className="container d-flex gap-5 main">
    <BookForm :selectedBook="selectedBook" @refresh="updateBooks" @message="message"
              @error="showMessage" :selected-book="selectedBook" @select-book="selectedBook = $event"/>
    <BookList :books="books" :selected-book="selectedBook" @select-book="selectedBook = $event" ref="bookList"
              @message="message"/>
  </div>
</template>
<script>
import BookList from './components/BookList.vue';
import BookForm from './components/BookForm.vue';
import Notification from './components/Notification.vue';

export default {
  name: 'App',
  components: {
    BookList,
    BookForm,
    Notification
  },
  data() {
    return {
      books: [],
      selectedBook: null,
      notifications: []
    };
  },
  methods: {
    updateBooks() {
      this.$refs.bookList.fetchBooks();
    },
    message(message) {
      this.notifications.push({message});

      setTimeout(() => {
        this.removeNotification();
      }, 5000);
    },
    removeNotification() {
      this.notifications.shift();
    }
  }
};
</script>